// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    justify-content: center;
    //    min-height: 60px;
    background-color: #161616;
}

.navbar-brand {
    color: #ffcc00;
    font-weight: bold;
}
.navbar-brand a {
    color: #ffcc00 !important;
    font-weight: bold;
    text-decoration:none;
}

.btn-purple, .btn-purple:hover, .btn-purple:active, .btn-purple:visited {
    background-color: #3c4f9d !important;
    color: white;
}

.link-text  { color: #fff; }
.link-text:hover  { color: #3c4f9d; }

.card-cust {
    background-color: #161616;
}

.page-footer {
    color: #fff;
    background-color: #161616;
}

.page-footer a { color: #ffcc00; }

main {
    margin-bottom: 400px;
}
